<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create Contract</title>
    <meta name="description" content="Neat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/neat.min.css">
  </head>
  <body>

    <div class="o-page o-page--center">
      <div class="o-page__card">
        <div class="c-card c-card--center">
          <span class="c-icon c-icon--large u-mb-small">
            <img src="img/logo-small.svg" alt="Neat">
          </span>

          <h4 class="u-mb-medium">CREATE A CONTRACT</h4>
          <form>
            <div class="c-field">
              <label class="c-field__label">Field 1</label>
              <input class="c-input u-mb-small" type="text" placeholder="e.g. Adam Sandler" required>
            </div>

            <div class="c-field">
              <label class="c-field__label">Field 2</label>
              <input class="c-input u-mb-small" type="email" placeholder="e.g. adam@sandler.com" required>
            </div>

            <div class="c-field u-mb-small">
              <label class="c-field__label">Field 3</label>
              <div class="c-select">
                <select class="c-select__input">
                  <option>Dropdown</option>  
                </select>
              </div>
            </div>

            <div class="c-field u-mb-small">
              <label class="c-field__label">Field 4</label>
              <div class="c-select">
                <select class="c-select__input">
                  <option>Option One</option>
                  <option>Option Two</option>
                </select>
              </div>
            </div>

            <button class="c-btn c-btn--fullwidth c-btn--info">Generate Contract</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Main JavaScript -->
    <script src="js/neat.min.js?v=1.0"></script>
  </body>
</html>
