<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign In</title>
    <meta name="description" content="Neat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/neat.min.css?v=1.0">
  </head>
  <body>

    <div class="o-page o-page--center">
      <div class="o-page__card">
        <div class="c-card c-card--center">
          <span class="c-icon c-icon--large u-mb-small">
            <img src="img/logo-small.png" alt="Neat">
          </span>

          <h4 class="u-mb-medium">True Feedback</h4>

            <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="pricing.html">SignUp Free</a>
            <br /> <br />
            <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="pricing.html">SignUp as a Business</a>
             <br /> <br />
          <div>

              <div class = "c-field_label">
              <label class="c-field__label"><a href = "#">Login for existing users</a>
              </div>

            </label>
          </div>
        </div>
      </div>
    </div>


      <div class="row u-pv-large">
        <div class="col-xl-5 u-text-center u-ml-auto u-mr-auto">
          <h1>The TrueFeedback Advantage</h1>
          <p class="u-mb-large u-h4">How, Why and When?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 u-ml-auto">
          <h4 class="u-mb-xsmall">How long are your contracts?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>

        <div class="col-md-5 u-mr-auto">
          <h4 class="u-mb-xsmall">Do you provide domain names?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 u-ml-auto">
          <h4 class="u-mb-xsmall">Do I need to choose a plan now?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>

        <div class="col-md-5 u-mr-auto">
          <h4 class="u-mb-xsmall">Can I switch plans later?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 u-ml-auto">
          <h4 class="u-mb-xsmall">How does the free trial work?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>

        <div class="col-md-5 u-mr-auto">
          <h4 class="u-mb-xsmall">Do I need hosting?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 u-ml-auto">
          <h4 class="u-mb-xsmall">What payment types do you accept?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>

        <div class="col-md-5 u-mr-auto">
          <h4 class="u-mb-xsmall">Have more questions?</h4>
          <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <footer class="c-footer">
            <p>© 2018 Neat, Inc</p>
            <span class="c-footer__divider">|</span>
            <nav>
              <a class="c-footer__link" href="#">Terms</a>
              <a class="c-footer__link" href="#">Privacy</a>
              <a class="c-footer__link" href="#">FAQ</a>
              <a class="c-footer__link" href="#">Help</a>
            </nav>
          </footer>
        </div>
      </div>


    <!-- Main JavaScript -->
    <script src="js/neat.min.js?v=1.0"></script>
  </body>
</html>
